*{
  padding: 0;
  margin:0;
  font-family: 'Archivo', sans-serif;
}

.send-icon{
  padding: 30px;
  height: 30px;
}


.fp-container{
  display: flex;
  height: 100vh;
  background-color: #131313;
}

.side-container{
  display: flex;
  flex-direction: column; 
  align-items: center;
  flex:1;
  background-color: #202329;
}

.search-bar-container{
  margin-top: 20px;
}

.search-bar{
  display: flex;
  align-items: center;
  border: none;
  font-size: 18px;
  padding:5px 5px 5px 40px;
  width: 250px; 
  height: 40px;
  background-color: #2e333d;
  border-radius: 10px;
  caret-color: #FFFF; 
}

.message-components-container{
  margin-top: 20px ;
}

.message-hist-container{
  display: flex;
  margin-block: 10px;
  border-radius: 15px;
}

.message-hist-container:hover{
  background-color: #2e333d;
}

.message-hist-container--data, .message-hist-container--info{
  color:white;
  margin-inline:10px;
  margin-block:10px;
}

.message-hist-container--data{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-block:20px;
}

.message-hist-container--text{
  color:#545860;
  margin-block:5px;
}

.icon1-img{
  height: 75px;
  border-radius:10px;
  padding:10px;
}

.chat-container{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #202329;
}

.chat-header{
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  font-size: 18px;
  margin:30px 0 0 45px;
}

.chat-header--activity{
  color:#545860;
}

.message-input--container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.message-input{
  border: none;
  outline: none;
  background-color:#202329; 
  font-size: 18px;
  caret-color: #FFFF; 
}

.message-input::placeholder{
  color:#545860;
}

.send-message--btn{
  display: flex;
  align-items: center;
  border:none;
  background-color:#202329; 
}

.chat-details{
  flex:1;
  background-color: #131313;
}

.chat-details-header{
  display: flex;
  justify-content: center;
}

.chat-details-text{
  padding:10px;
  color:white;
  font-size: 17px;
  font-weight: 800;
} 