*{
  padding: 0;
  margin:0;
  font-family: 'Archivo', sans-serif;
}
.login-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#0e0f2a ;
}
.login-page-title{
  padding: 20px;
  font-weight: 800;
  font-size: 40px; 
  color: #FFF;
}
.registered-trademark{
  font-size: 10px;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 250px;
  width: 400px;
  background-color: #222239;
}
.login-input{
  border: none;
  margin-block: 10px;
  padding: 15px;
  width: 300px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #434459;
  color: #FFF;
}
.login-input:focus{
  outline: none;
}
.login-btn{
  text-transform:uppercase ;
  border: none;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 800;
  padding: 12px 20px 12px 20px;
}
/*************************** Chat page ************************/
.send-icon{
  padding: 30px;
  height: 30px;
}
.chat-body::-webkit-scrollbar {
  display: none;
}
.fp-container{
  display: flex;
  height: 100vh;
  background-color: #131313;
}
.side-container{
  display: flex;
  flex-direction: column; 
  align-items: center;
  flex:1;
  background-color: #202329;
}
.search-bar-container{
  margin-top: 20px;
}
.search-bar{
  display: flex;
  align-items: center;
  border: none;
  font-size: 18px;
  padding:5px 5px 5px 40px;
  width: 250px; 
  height: 40px;
  border-radius: 10px;
  background-color: #2e333d;
  caret-color: #FFFF; 
  color: #FFFF;
}

.message-components-container{
  overflow: auto;
  margin-top: 20px;
}

.message-hist-container {
  display: flex;
  margin-right: 10px;
  margin-block: 10px;
  border-radius: 15px;
  width: 380px;
}

.message-hist-container:hover {
  background-color: #2e333d;
}

.message-components-container::-webkit-scrollbar {
  width: 5px;
}

.message-components-container::-webkit-scrollbar-track {
  background: transparent;
}

.message-components-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px; 
}

.message-components-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.message-hist-container:hover{
  background-color: #2e333d;
}

.message-hist-container--data, .message-hist-container--info{
  margin-inline:10px;
  margin-block:10px;
  color:white;
}

.message-hist-container--info{
  margin-left: auto;
  padding: 10px;
}

.message-hist-container--data{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-block:20px;
}

.message-hist-container--text{
  margin-block:5px;
  color:#545860;
}

.icon1-img{
  height: 75px;
  border-radius:10px;
  margin:10px;
}

.chat-container{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #202329;
}

.chat-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
  font-size: 18px;
  margin:30px 0 0 45px;
}

.chat-header--activity{
  color:#545860;
}

.chat-body{
  max-height: calc(100vh - 160px); 
  overflow-y: auto;
  width: 100%;
}

.message-input--container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.message-input{
  border: none;
  outline: none;
  font-size: 18px;
  width: 100%;
  background-color:#202329; 
  caret-color: #FFFF; 
  color:#FFFF;
}

.message-input::placeholder{
  color:#545860;
}

.send-message--btn{
  display: flex;
  align-items: center;
  border:none;
  background-color:#202329; 
}

.chat-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
  background-color: #131313;
}

.chat-details-users{
  padding: 20px;
  margin-top: 10px;
  font-size: 18px;
  color: #FFF;
}

.chat-details-header{
  display: flex;
  justify-content: center;
}

.chat-details-text{
  padding:10px;
  font-size: 17px;
  font-weight: 800;
  color:white;
} 

.message{
  display: flex;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-top: 20px;
  max-width:300px;
  border-radius:15px;
  margin: 20px;
  padding-right: 5px;
  background-color: #2e333d;
}

#other{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
  max-width:300px;
  border-radius:15px;
  margin-left: 1px;
  background-color: #2e333d;
}

#you{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
  max-width:300px;
  border-radius:15px;
  margin-left: auto;
  background-color: #2e333d;
}

.message-content-text{
  font-size: 18px;
  padding: 10px 0px 20px 20px;
}

.message-meta{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 20px 10px 20px;
}

.message-meta-author{
  font-size: 15px;
}

.message-meta-time{
  font-size: 12px;
  color: #545860;
}






